<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
</head>
<body>
<h1>文件上传管理</h1>
<form method="post" enctype="multipart/form-data" >
    <h2>文件名</h2>
<tr><th><label for="id_TableName">导入表:</label></th><td>
    <select name="TableName">
        <option value="ApplicationDomainTable">应用域名表</option>
        <option value="cdnmanagementiptable">cp管理地址表</option>
        <option value="ApplicationTable">应用表</option>
    </select>
</td></tr>
<tr><th><label for="id_UploadFile">上传文件名:</label></th><td><input id="id_UploadFile" name="UploadFile" type="file" /></td></tr>
<input type="submit" value="ok"/>

</form>
</body>
</html>